{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>{{ 'profile'|trans|ucfirst }} </h1>
{% endblock %}

{% block main %}
    <div class="container">
        {{ include('user/_profile_navigation.html.twig') }}

        <h1>{{ 'Change your password'|trans }}</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.password) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block header_actions_right %}
    <button class="btn btn-primary" type="submit" form="{{ form.vars.id }}" data-turbo="true">
        <i class="bi bi-floppy-fill mr-2"></i>
        {{ 'Confirm'|trans }}
    </button>
{% endblock %}
