{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>{{ 'Add a new user'|trans }} </h1>
{% endblock %}

{% block main %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-6">
            {{ form_row(form.email) }}
            {{ form_row(form.roles) }}

            <div class="btn-toolbar mt-4">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-plus mr-2"></i>
                    {{ 'Save'|trans }}
                </button>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
