{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>{{ 'Edit user %user%'|trans({'%user%': user.email}) }} </h1>
{% endblock %}

{% block header_navigation %}
    {% if not user.confirmed %}
        <a class="btn btn-primary" href="{{ path('request_confirmation', {user: user.id}) }}">
            <i class="fas fa-envelope mr-2"></i>
            {{ 'Resend confirmation mail'|trans }}
        </a>
    {% endif %}
    {% if user.enabled %}
        <a class="btn btn-danger ml-2" href="{{ path('user_disable', {user: user.id}) }}">
            <i class="fas fa-lock mr-2"></i>
            {{ 'Disable'|trans }}
        </a>
    {% else %}
        <a class="btn btn-success ml-2" href="{{ path('user_enable', {user: user.id}) }}">
            <i class="fas fa-unlock mr-2"></i>
            {{ 'Enable'|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block main %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-6">
            {{ form_row(form.email) }}
            {{ form_row(form.roles) }}

            <div class="btn-toolbar mt-4">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-save mr-2"></i>
                    {{ 'Save'|trans }}
                </button>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
