{% extends 'base.html.twig' %}

{% block header_title %}
  <h1>{{ 'Users'|trans }}</h1>
{% endblock %}

{% block header_navigation %}
  <a class="btn btn-primary" href="{{ path('user_admin_add') }}">
    <i class="fas fa-plus mr-2"></i>
    {{ 'Add a new user'|trans|capitalize }}
  </a>
{% endblock %}

{% block main %}
  {{ form_start(form) }}
  <div class="row mb-3">
    <div class="col-md-2">
      {{ form_widget(form.term) }}
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">{{ 'filter.submit'|trans }}</button>
    </div>
  </div>
  {{ form_rest(form) }}
  {{ form_end(form) }}

  <hr>

  <div class="row g-3 mb-4">
    {% for user in users %}
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title mb-3">{{ user.username }}</h3>
            <p class="mb-0">{{ 'Roles'|trans }}: {% for role in user.getDisplayRoles %}
                {% if loop.index0 > 0 %},{% endif %}
                {{ role|trans }}
              {% endfor %}</p>
            <div class="d-flex justify-content-between">
              <div>{{ 'Confirmed'|trans }}</div>
              <div>
                {% if user.confirmed %}
                  <i class="text-success fas fa-check"></i>
                {% else %}
                  <i class="text-danger fas fa-times"></i>
                {% endif %}
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <div>{{ 'Enabled'|trans }}</div>
              <div>
                {% if user.enabled %}
                  <i class="text-success fas fa-check"></i>
                {% else %}
                  <i class="text-danger fas fa-times"></i>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="card-footer">
            <a class="text-nowrap btn btn-outline-primary me-3 px-3" href="{{ path('user_admin_edit', {user: user.id}) }}">
              <i class="fas fa-edit" title="{{ 'Edit user'|trans }}" data-controller="tooltip" data-bs-placement="top"></i>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
              <a class="text-nowrap btn btn-outline-primary px-3" href="{{ impersonation_path(user.username) }}" data-turbo-prefetch="false">
                <i class="fas fa-sign-in-alt" title="{{ 'Switch to user'|trans }}" data-controller="tooltip" data-bs-placement="top"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="d-flex justify-content-center">
    {{ pagination(users) }}
  </div>
{% endblock %}
