{% extends 'base.html.twig' %}

{% block header_title %}
  <h1>{{ 'users'|trans }}</h1>
{% endblock %}

{% block header_navigation %}
  <a class="btn btn-primary" href="{{ path('user_add') }}">
    <i class="fas fa-plus mr-2"></i>
    {{ 'Add a new user'|trans|capitalize }}
  </a>
{% endblock %}

{% block main %}
  {{ form_start(form) }}
  <div class="row mb-3">
    <div class="col-md-2">
      {{ form_widget(form.term) }}
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">{{ 'filter.submit'|trans }}</button>
    </div>
  </div>
  {{ form_rest(form) }}
  {{ form_end(form) }}

  <hr>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">{{ 'Username'|trans }}</th>
      <th scope="col">{{ 'Roles'|trans }}</th>
      <th scope="col">{{ 'Confirmed'|trans }}</th>
      <th scope="col">{{ 'Enabled'|trans }}</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
      <tr>
        <th scope="row">{{ user.username }}</th>
        <td>
        {% for role in user.getDisplayRoles %}
          {% if loop.index0 > 0 %},{% endif %}
          {{ role|trans }}
        {% endfor %}
        </td>
        <td>
          {% if user.confirmed %}
            <i class="text-success fas fa-check"></i>
          {% else %}
            <i class="text-danger fas fa-times"></i>
          {% endif %}
        </td>
        <td>
          {% if user.enabled %}
            <i class="text-success fas fa-check"></i>
          {% else %}
            <i class="text-danger fas fa-times"></i>
          {% endif %}
        </td>
        <td>
          <a class="text-nowrap" href="{{ path('user_edit', {'user': user.id}) }}">
            <i class="fas fa-edit" title="{{ 'Edit user'|trans }}" data-toggle="tooltip" data-placement="top"></i>
          </a>
        </td>
        {% if is_granted('ROLE_ADMIN') %}
        <td>
          <a class="text-nowrap" href="{{ impersonation_path(user.username) }}">
            <i class="fas fa-sign-in-alt" title="{{ 'Switch to user'|trans }}" data-toggle="tooltip" data-placement="top"></i>
          </a>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    {{ pagination(users) }}
  </div>
{% endblock %}
