{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>{{ 'profile'|trans|ucfirst }} </h1>
{% endblock %}

{% block main %}
    <h1>{{ 'Change your password'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.password) }}

    <input type="submit" class="btn btn-secondary" value="{{ 'Confirm'|trans }}" />
    {{ form_end(form) }}
{% endblock %}
