{% extends '@SumoCodersFrameworkCore/Mail/base.html.twig' %}

{% block content %}
    <p>{{ 'account.mail.confirm.greeting'|trans }}</p>
    <p>{{ 'account.mail.confirm.intro'|trans }}</p>
    <button href="{{ confirmationLink }}" class="button small-expanded rounded">
        {{ 'account.mail.confirm.button'|trans }}
    </button>

    <p class="text-muted dark-gray"><small>{{ 'account.mail.confirm.alternative'|trans }}
    <a href="{{ confirmationLink }}">{{ confirmationLink }}</a></small></p>
    <p>account.mail.confirm.signature<br>{{ fallbacks.get('site_title') }}</p>
{% endblock %}
