{% extends '@SumoCodersFrameworkCore/Mail/base.html.twig' %}

{% block content %}
    <p>{{ 'account.mail.reset.greeting'|trans }}</p>
    <p>{{ 'account.mail.reset.intro'|trans }}</p>
    <button href="{{ resetLink }}" class="button small-expanded rounded">
        {{ 'account.mail.reset.button'|trans }}
    </button>

    <p class="text-muted dark-gray"><small>{{ 'account.mail.reset.alternative'|trans }}
    <a href="{{ resetLink }}">{{ resetLink }}</a></small></p>
    <p>{{ 'account.mail.confirm.signature'|trans }}<br>{{ fallbacks.get('site_title') }}</p>
{% endblock %}
